{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-slideshow.css' | asset_url | stylesheet_tag }}

{% assign se_stts = section.settings %}

<style>
  .banner__media .buttonPlayPause {
    position: absolute !important;
    z-index: 20;
    width: 30px !important;
    height: 30px !important;
    border: none;
    margin: 5px;
    border-radius: 5px;
  }
  .banner__media .buttonPlayPause svg {
    height: 100%;
    width: 100%;
    opacity: 0.5;
  }
</style> 

<div class="slideshow slideshow-{{section.id}}">
  <div id="carousel-banner" class="slideshow-carousel carousel grid--1-col" data-flickity='{
    "cellAlign": "left",
    "contain": true,
    "wrapAround": {{se_stts.loop}},
    "autoPlay": {% if se_stts.autoplay %}{{ se_stts.au_time | times: 1000 }}{% else %}0{% endif %}, 
    "pauseAutoPlayOnHover": {{se_stts.au_hover}},
    "prevNextButtons": {% if section.blocks.size > 1 %}{{se_stts.button}}{% else %}false{% endif %},
    "pageDots": {% if section.blocks.size > 1 %}{{se_stts.dot}}{% else %}false{% endif %}
  }'
  role="region"
  aria-label="Carousel"
  aria-live="polite">
    {%- for block in section.blocks -%}
      <div id="Banner-{{ block.id }}" class="grid__item {% if block.settings.adapt_height_first_image and block.settings.image != blank %} banner--adapt{% endif %}{% if block.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if block.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if block.settings.adapt_to_contain_image %} banner--contain{% endif %}">
        
        {%- if block.settings.image != blank and block.settings.enable_video == false -%}
          <div class="banner__media media{% if block.settings.image == blank and block.settings.image_mb == blank %} placeholder{% endif %}{% if block.settings.image_mb != blank %} small-hide{% endif %}">
            <img
              srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}"
              src="{{ block.settings.image | img_url: 'master' }}"
              {% unless forloop.first %}
             
              {% endunless %}
              alt="{{ block.settings.image.alt | escape }}"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}"
              {% if block.settings.image_mb != blank %}class="banner__media-image-half"{% endif %}
            >
          </div>
        {%- endif -%}
        {%- if block.settings.image_mb != blank and block.settings.enable_video == false -%}
          <div class="banner__media media{% if block.settings.image != blank %} hidden small-show{% endif %}">
            <img
              srcset="{%- if block.settings.image_mb.width >= 375 -%}{{ block.settings.image_mb | img_url: '375x' }} 375w,{%- endif -%}
                {%- if block.settings.image_mb.width >= 750 -%}{{ block.settings.image_mb | img_url: '750x' }} 750w,{%- endif -%}
                {%- if block.settings.image_mb.width >= 1100 -%}{{ block.settings.image_mb | img_url: '1100x' }} 1100w,{%- endif -%}
                {%- if block.settings.image_mb.width >= 1500 -%}{{ block.settings.image_mb | img_url: '1500x' }} 1500w,{%- endif -%}
                {%- if block.settings.image_mb.width >= 1780 -%}{{ block.settings.image_mb | img_url: '1780x' }} 1780w,{%- endif -%}
                {%- if block.settings.image_mb.width >= 2000 -%}{{ block.settings.image_mb | img_url: '2000x' }} 2000w,{%- endif -%}
                {%- if block.settings.image_mb.width >= 3000 -%}{{ block.settings.image_mb | img_url: '3000x' }} 3000w,{%- endif -%}
                {%- if block.settings.image_mb.width >= 3840 -%}{{ block.settings.image_mb | img_url: '3840x' }} 3840w,{%- endif -%}"
              sizes="100vw"
              src="{{ block.settings.image_mb | img_url: '1500x' }}"
              {% unless forloop.first %}
             
              {% endunless %}
              alt="{{ block.settings.image_mb.alt | escape }}"
              width="{{ block.settings.image_mb.width }}"
              height="{{ block.settings.image_mb.width | divided_by: block.settings.image_mb.aspect_ratio }}"
              {% if block.settings.image != blank %}class="banner__media-image-half"{% endif %}
            >
          </div>
        {%- endif -%}

        {%- if block.settings.enable_video -%}
          <div class="banner__media media video">
            <button id="button-{{ block.id }}" onclick="pauseVideo('{{ block.id }}')" class="buttonPlayPause">
              {% render 'icon-pause' %}
            </button>
            <video id="video-{{ block.id }}" class="{% if block.settings.video_mb != blank %} small-hide{% endif %}" {% if block.settings.image != blank %} poster="{{ block.settings.image | img_url: 'master' }}"{% endif %} {% if block.settings.enable_video_sound == false %}muted{% endif %} loop autoplay playsinline>
              <source src="{{ block.settings.video | file_url }}" type="video/mp4">
            </video>
            {% if block.settings.video_mb != blank %}
              <video id="video-mb-{{ block.id }}" class="hidden small-show" {% if block.settings.image != blank %} poster="{{ block.settings.image_mb | img_url: 'master' }}"{% endif %} {% if block.settings.enable_video_sound == false %}muted{% endif %} loop autoplay playsinline>
                <source src="{{ block.settings.video_mb | file_url }}" type="video/mp4">
              </video>
            {% endif %}
          </div>
        {%- endif -%}

        {% if block.settings.heading != blank or block.settings.text != blank or block.settings.button_label_1 != blank %}
          <div class="banner__content banner--content-align-{{ block.settings.desktop_content_alignment }} banner--content-align-mobile-{{ block.settings.mobile_content_alignment }} banner__content--{{ block.settings.desktop_content_position }} page-width">
            <div class="banner__box color-{{ block.settings.color_scheme }}"
              {% if block.settings.use_custom_margins == true %}
                style="padding-left: {{ block.settings.padding_left_box }}px; padding-top: {{ block.settings.padding_top_box }}px; padding-right: {{ block.settings.padding_right_box }}px; padding-bottom: {{ block.settings.padding_bottom_box }}px;
                       margin-left: {{ block.settings.margin_left_box }}px; margin-top: {{ block.settings.margin_top_box }}px; margin-right: {{ block.settings.margin_right_box }}px; margin-bottom: {{ block.settings.margin_bottom_box }}px;"
              {% endif %}
            >
              {% if block.settings.heading != blank %}
                <h2 style="color: {{ block.settings.heading_color }}; font-size: {{ block.settings.font_size_heading }}px" class="banner__heading {{ block.settings.heading_size }} {% if block.settings.heading_upper %}uppercase{% endif %}" {{ block.shopify_attributes }}>
                  <span>{{ block.settings.heading | escape }}</span>
                </h2>
              {% endif %}

              {% if block.settings.text != blank %}
                <div class="banner__text" {{ block.shopify_attributes }}>
                  <span style="color: {{ block.settings.text_color }};  font-size: {{ block.settings.font_size_text }}px">{{ block.settings.text | escape }}</span>
                </div>
              {% endif %}

              {% if block.settings.button_label_1 != blank or block.settings.button_label_2 != blank %}
                <div class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_link_1 != blank and block.settings.button_label_2 != blank and block.settings.button_link_2 != blank %} banner__buttons--multiple{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.button_label_1 != blank -%}
                  <a{% if block.settings.button_link_1 != blank %} href="{{ block.settings.button_link_1 }}"{% endif %} class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_1 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_1 | escape }}</a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a{% if block.settings.button_link_2 != blank %} href="{{ block.settings.button_link_2 }}"{% endif %} class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"{% if block.settings.button_link_2 == blank %} aria-disabled="true"{% endif %}>{{ block.settings.button_label_2 | escape }}</a>
                {%- endif -%}
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
        {% if block.settings.link_banner != blank %}
          <a 
            class="banner-link ga-event" 
            href="{{block.settings.link_banner}}" 
            data-event-label="{% if block.settings.image != blank %}{{ block.settings.ga_image_desktop_id }}{% elsif block.settings.enable_video %}{{ block.settings.txt_alt_video_desktop }}{% endif %}" 
            data-event-label-mobile="{% if block.settings.image_mb != blank %}{{ block.settings.ga_image_mobile_id }}{% elsif block.settings.enable_video %}{{ block.settings.txt_alt_video_mobile }}{% endif %}" 
            data-event-page="{% if block.settings.ga_page_id != blank %}{{ block.settings.ga_page_id }}{% elsif block.settings.enable_video %}{{ block.settings.ga_video_page }}{% endif %}"
            data-event-collection="{% if block.settings.ga_collection != blank %}{{ block.settings.ga_collection }}{% elsif block.settings.enable_video %}{{ block.settings.ga_video_collection }}{% endif %}"
            aria-label="Primary banner link to all products"
          >
          </a>
        {% endif %}
  
        {%- if block.settings.adapt_height_first_image and block.settings.image != blank -%}
        {%- style -%}
        @media screen and (max-width: 749px) {
          #Banner-{{ block.id }}::before,
          #Banner-{{ block.id }} .banner__media::before,
          #Banner-{{ block.id }}:not(.banner--mobile-bottom) .banner__content::before {
            padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
            content: '';
            display: block;
          }
        }
  
        @media screen and (min-width: 750px) {
          #Banner-{{ block.id }}::before,
          #Banner-{{ block.id }} .banner__media::before {
            padding-bottom: {{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;
            content: '';
            display: block;
          }
        }
        {%- endstyle -%}
        {%- endif -%}
  
        {%- style -%}
          #Banner-{{ block.id }}::after {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            background: {{ settings.colors_accent_1 }};
            position: absolute;
            top: 0;
            left: 0;
            opacity: {{ block.settings.image_overlay_opacity | divided_by: 100.0 }};
          }
        {%- endstyle -%}
        </div>
    {%- endfor -%}
    </div>
</div>

<script>
  {% if se_stts.tabIndex_enable == false %}
    window.addEventListener('load', function () {
      var tabI = document.getElementById("carousel-banner");
      tabI.removeAttribute('tabindex')
    })  
  {% endif %}
    
  var flkty = new Flickity( '.slideshow-{{section.id}} .slideshow-carousel', {
    on: {
      staticClick: function(event) {
        var eventLabel = event.target.dataset.eventLabel;
        var eventLabelMobile = event.target.dataset.eventLabelMobile;

        if (window.innerWidth < 749 && eventLabelMobile) {
          eventLabel = eventLabelMobile;
        }

        if (!eventLabel) return;
        ga('send', 'event', 'Home Banners', 'click', eventLabel, 1);
      }
    },
    cellAlign: 'left',
    contain: true,
    wrapAround: {{se_stts.loop}},
    autoPlay: {% if se_stts.autoplay %}{{ se_stts.au_time | times: 1000 }}{% else %}0{% endif %}, 
    pauseAutoPlayOnHover: {{se_stts.au_hover}},
    prevNextButtons: {% if section.blocks.size > 1 %}{{se_stts.button}}{% else %}false{% endif %},
    pageDots: {% if section.blocks.size > 1 %}{{se_stts.dot}}{% else %}false{% endif %}
  });

  const videos = document.querySelectorAll(".banner__media video");
  videos.forEach((video) => {
    video.onloadeddata = function() {
      flkty.resize();
    };
  })

  function pauseVideo(arg) {
    var change = document.getElementById(`button-${arg}`);
    var video = document.getElementById(`video-${arg}`)
    var videomb = document.getElementById(`video-mb-${arg}`)
    if (!video.paused) {
      change.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" class="icon icon-play" fill="none" viewBox="0 0 10 14"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.48177 0.814643C0.81532 0.448245 0 0.930414 0 1.69094V12.2081C0 12.991 0.858787 13.4702 1.52503 13.0592L10.5398 7.49813C11.1918 7.09588 11.1679 6.13985 10.4965 5.77075L1.48177 0.814643Z" fill="currentColor"/></svg>';
      video.pause();
      if (videomb !== null) {
        videomb.pause();
      }
    } else {
      video.play();
      if (videomb !== null) {
        videomb.play();
      }
      change.innerHTML = '<svg fill="#000000" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 277.338 277.338" xml:space="preserve"><g><path d="M14.22,45.665v186.013c0,25.223,16.711,45.66,37.327,45.66c20.618,0,37.339-20.438,37.339-45.66V45.665c0-25.211-16.721-45.657-37.339-45.657C30.931,0,14.22,20.454,14.22,45.665z"/><path d="M225.78,0c-20.614,0-37.325,20.446-37.325,45.657V231.67c0,25.223,16.711,45.652,37.325,45.652s37.338-20.43,37.338-45.652V45.665C263.109,20.454,246.394,0,225.78,0z"/></g></svg>';
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.slideshow.name",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "header",
      "content": "== Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Use Loop?",
      "info": "At the end of cells, wrap-around to the other end for infinite scrolling.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Use Autoplay?",
      "info": "Automatically advances to the next cell.",
      "default": false
    },
    {
      "type": "range",
      "id": "au_time",
      "min": 1,
      "max": 30,
      "step": 0.5,
      "label": "Autoplay Speed in second.",
      "unit": "sec",
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "au_hover",
      "label": "Pause Autoplay On Hover?",
      "info": "Auto-playing will pause when the user hovers over the carousel.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "button",
      "label": "Enable Prev Next Button?",
      "info": "Creates and enables previous & next buttons.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dot",
      "label": "Enable Page Dot?",
      "info": "Creates and enables page dots.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tabIndex_enable",
      "label": "Enable tabIndex?",
      "info": "Make the Slides be controled by keyboard arrows (uncheck if only one slide)",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.slideshow.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.slideshow.blocks.image.settings.image.label"
        },
        {
          "type": "image_picker",
          "id": "image_mb",
          "label": "t:sections.slideshow.blocks.image.settings.image_mb.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.image.settings.header__1.label"
        },
        {
          "type": "text",
          "id": "ga_image_desktop_id",
          "label": "t:sections.slideshow.blocks.image.settings.ga_image_desktop_id.label"
        },
        {
          "type": "text",
          "id": "ga_image_mobile_id",
          "label": "t:sections.slideshow.blocks.image.settings.ga_image_mobile_id.label"
        },
        {
          "type": "text",
          "id": "ga_page_id",
          "label": "t:sections.slideshow.blocks.image.settings.ga_page_id.label",
          "default": "Home Banners"
        },
        {
          "type": "text",
          "id": "ga_collection",
          "label": "t:sections.slideshow.blocks.image.settings.ga_collection.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.image.settings.header__2.label"
        },
        {
          "type": "checkbox",
          "id": "enable_video",
          "label": "t:sections.slideshow.blocks.image.settings.enable_video.label"
        },
        {
          "type": "checkbox",
          "id": "enable_video_sound",
          "label": "t:sections.slideshow.blocks.image.settings.enable_video_sound.label",
          "default": false
        },
        {
          "type": "text",
          "id": "video",
          "label": "t:sections.slideshow.blocks.image.settings.video.label",
          "info": "t:sections.slideshow.blocks.image.settings.video.info"
        },
        {
          "type": "text",
          "id": "video_mb",
          "label": "t:sections.slideshow.blocks.image.settings.video_mb.label",
          "info": "t:sections.slideshow.blocks.image.settings.video_mb.info"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.image.settings.header__3.label"
        },
        {
          "type": "text",
          "id": "txt_alt_video_desktop",
          "label": "t:sections.slideshow.blocks.image.settings.txt_alt_video_desktop.label"
        },
        {
          "type": "text",
          "id": "txt_alt_video_mobile",
          "label": "t:sections.slideshow.blocks.image.settings.txt_alt_video_mobile.label"
        },
        {
          "type": "text",
          "id": "ga_video_page",
          "label": "t:sections.slideshow.blocks.image.settings.ga_video_page.label"
        },
        {
          "type": "text",
          "id": "ga_video_collection",
          "label": "t:sections.slideshow.blocks.image.settings.ga_video_collection.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.image.settings.header__4.label"
        },
        {
          "type": "checkbox",
          "id": "adapt_height_first_image",
          "default": false,
          "label": "t:sections.slideshow.blocks.image.settings.adapt_height_first_image.label"
        },
        {
          "type": "checkbox",
          "id": "adapt_to_contain_image",
          "default": true,
          "label": "t:sections.slideshow.blocks.image.settings.adapt_to_contain_image.label"
        },
        {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "top-left",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "top-center",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "top-right",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "middle-left",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "middle-center",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "middle-right",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "bottom-left",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "bottom-center",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "bottom-right",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "middle-center",
          "label": "t:sections.slideshow.blocks.image.settings.desktop_content_position.label"
        },
        {
          "type": "select",
          "id": "desktop_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.image.settings.desktop_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.image.settings.desktop_content_alignment.label"
        },
        {
          "type": "url",
          "id": "link_banner",
          "label": "t:sections.slideshow.blocks.image.settings.button.label",
          "info": "t:sections.slideshow.blocks.image.settings.button.info"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "default": false,
          "label": "t:sections.slideshow.blocks.image.settings.show_text_box.label"
        },
        {
          "type": "checkbox",
          "id": "use_custom_margins",
          "default": false,
          "label": "t:sections.slideshow.blocks.image.settings.use_custom_margins.label",
          "info": "t:sections.slideshow.blocks.image.settings.use_custom_margins.info"
        },
        {
          "type": "text",
          "id": "padding_left_box",
          "label": "t:sections.slideshow.blocks.image.settings.padding_left_box.label"
        },
        {
          "type": "text",
          "id": "padding_top_box",
          "label": "t:sections.slideshow.blocks.image.settings.padding_top_box.label"
        },   
        {
          "type": "text",
          "id": "padding_right_box",
          "label": "t:sections.slideshow.blocks.image.settings.padding_right_box.label"
        },   
        {
          "type": "text",
          "id": "padding_bottom_box",
          "label": "t:sections.slideshow.blocks.image.settings.padding_bottom_box.label"
        },    
        {
          "type": "text",
          "id": "margin_left_box",
          "label": "t:sections.slideshow.blocks.image.settings.margin_left_box.label"
        },   
        {
          "type": "text",
          "id": "margin_top_box",
          "label": "t:sections.slideshow.blocks.image.settings.margin_top_box.label"
        },   
        {
          "type": "text",
          "id": "margin_right_box",
          "label": "t:sections.slideshow.blocks.image.settings.margin_right_box.label"
        },   
        {
          "type": "text",
          "id": "margin_bottom_box",
          "label": "t:sections.slideshow.blocks.image.settings.margin_bottom_box.label"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 10,
          "unit": "%",
          "label": "t:sections.slideshow.blocks.image.settings.image_overlay_opacity.label",
          "default": 0
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__3.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__4.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.slideshow.blocks.image.settings.color_scheme.options__5.label"
            }
          ],
          "default": "background-1",
          "label": "t:sections.slideshow.blocks.image.settings.color_scheme.label",
          "info": "t:sections.slideshow.blocks.image.settings.color_scheme.info"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.image.settings.header.content"
        },
        {
          "type": "checkbox",
          "id": "show_text_below",
          "default": false,
          "label": "t:sections.slideshow.blocks.image.settings.show_text_below.label"
        },
        {
          "type": "select",
          "id": "mobile_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.image.settings.mobile_content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.image.settings.mobile_content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.image.settings.mobile_content_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.image.settings.mobile_content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.slideshow.blocks.image.settings.header_content.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.slideshow.blocks.image.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.slideshow.blocks.image.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.slideshow.blocks.image.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.slideshow.blocks.image.settings.heading_size.options__3.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.slideshow.blocks.image.settings.heading_size.label"
        },
        {
          "type": "text",
          "id": "font_size_heading",
          "label": "t:sections.slideshow.blocks.image.settings.font_size_heading.label"
        },
        {
          "type": "color",
          "id": "heading_color",
          "default": "#000000",
          "label": "t:sections.slideshow.blocks.image.settings.heading_color.label"
        },
        {
          "type": "checkbox",
          "id": "heading_upper",
          "default": false,
          "label": "t:sections.slideshow.blocks.image.settings.heading_upper.label"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.slideshow.blocks.image.settings.text.label"
        },
        {
          "type": "text",
          "id": "font_size_text",
          "label": "t:sections.slideshow.blocks.image.settings.font_size_text.label"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#000000",
          "label": "t:sections.slideshow.blocks.image.settings.text_color.label"
        },
        {
          "type": "text",
          "id": "button_label_1",
          "label": "t:sections.slideshow.blocks.image.settings.button_label_1.label",
          "info": "t:sections.slideshow.blocks.image.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.slideshow.blocks.image.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.slideshow.blocks.image.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.slideshow.blocks.image.settings.button_label_2.label",
          "info": "t:sections.slideshow.blocks.image.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.slideshow.blocks.image.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.slideshow.blocks.image.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
