<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <h2 class="title">
    {{ 'templates.404.first_title' | t }}
  </h2>
  <div class="wrapper-content">
    <h3 class="title">
      {{ 'templates.404.title' | t }}
    </h3>
    <p>
      {{ 'templates.404.subtext' | t }}
    </p>
    <a href="{{ routes.all_products_collection_url }}" class="button continue-shopping">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>
</div>
 {% include 'BrokenLinkRedirect' %}