{{ 'section-sitemap.css' | asset_url | stylesheet_tag }}

<div class="sitemap">
  <h2 class="sitemap-title">{{ section.settings.section_category }}</h2>
  <h3 class="sitemap-subtitle">{{ section.settings.section_name }}</h3>
  <hr>
  <div class="sitemap-category">
    {% for block in section.blocks %}
      <div class="sitemap-blocks">
        {% assign linksSplit = block.settings.text | split: ';' %}
        <ul class="sitemap-category-links">
          {% for links in linksSplit %}
            {% assign textSplit = links | split: ',' %}
              <li>
                <a class="sitemap-category-link" href="{{ textSplit[0] | remove: " " }}" target="_blank">{{ textSplit[1] }}</a>
              </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.sitemap.name",
    "tag": "section",
    "class": "sitemap-section spaced-section spaced-section--full-width",
    "settings": [
      {
        "type": "text",
        "id": "section_category",
        "default": "CATEGORIAS",
        "label": "t:sections.sitemap.settings.category_title.label"
      },
      {
        "type": "text",
        "id": "section_name",
        "default": "PRODUTOS",
        "label": "t:sections.sitemap.settings.title.label"
      }

    ],
    "blocks": [
      {
        "type": "text",
        "name": "t:sections.sitemap.blocks.name",
        "settings": [
          {
            "type": "text",
            "id": "category_name",
            "default": "NOME DA CATEGORIA",
            "label": "t:sections.sitemap.blocks.settings.title"
          }, {
            "type": "text",
            "id": "text",
            "default": "/collections/new, New;",
            "label": "t:sections.sitemap.blocks.settings.input"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Sitemap"
      }
    ]
  }
{% endschema %}