<modal-dialog id="PopupModal-back-in-stock" class="product-popup-modal product-popup-modal-back-in-stock">
  <div role="dialog" aria-label="back-in-stock" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
    <button id="ModalClose-back-in-stock" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
    <div class="product-popup-modal__content-info">
      <div class="image"><img src="" alt="Product Image"></div>
      <div class="content">
        <div class="content-title">{{ 'products.product.notify_me' | t }}</div>
        <h1 class="product-title">{{ product.title }}</h1>
        <div class="price"></div>
        <div class="product-information"></div>
        <p class="message">{{ 'products.product.notify_me_message' | t }}</p>
        <p class="response"></p>
        <input type="email" placeholder="Enter your email">
        <button>{{ 'products.product.notify_me' | t }}</button>
      </div>
    </div>
  </div>
</modal-dialog>

<style>
  #BIS_trigger {
    display: none;
  }

  #PopupModal-back-in-stock .product-popup-modal__content-info {
    display: flex;
  }

  #PopupModal-back-in-stock .image,
  #PopupModal-back-in-stock .content {
    width: 50%;
  }

  #PopupModal-back-in-stock img {
    width: 100%;
  }

  #PopupModal-back-in-stock .content {
    text-align: center;
  }

  #PopupModal-back-in-stock .content-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
  }

  #PopupModal-back-in-stock .product-title,
  #PopupModal-back-in-stock .price {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
  }

  #PopupModal-back-in-stock .price {
    margin-bottom: 35px;
  }

  #PopupModal-back-in-stock .product-information p {
    margin: 0;
  }

  #PopupModal-back-in-stock .message {
    letter-spacing: 1px;
  }

  #PopupModal-back-in-stock input {
    border: 1px solid #efefef;
    width: 100%;
    height: 36px;
    text-align: center;
  }

  #PopupModal-back-in-stock .content button {
    display: block;
    width: 100%;
    margin-top: 20px;
    max-width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1.5px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: none;
  }

  #PopupModal-back-in-stock .response.error {
    color: red;
  }

  #PopupModal-back-in-stock .response.success {
    color: green;
  }

  @media screen and (min-width: 750px) {
    #PopupModal-back-in-stock .product-popup-modal__content {
      margin-top: 16rem;
      width: 54%;    
      height: 60%;
    }
  }

  @media screen and (max-width: 749px) {
    #PopupModal-back-in-stock .image {
      display: none;
    }

    #PopupModal-back-in-stock .content {
      width: 100%;
    }

    #PopupModal-back-in-stock .product-popup-modal__content {
      height: 70%;
    }
  }
</style>

<script>
  (function () {
    const product = {{ product | json }}
    const modalPopup = $('#PopupModal-back-in-stock')
    const contentPopup = modalPopup.find('.product-popup-modal__content-info')
    const response = modalPopup.find('.response')

    $('#PopupPopup-back-in-stock').on('click', function () {
      let url_string = window.location.href
      let url = new URL(url_string)
      let variantId = parseInt(url.searchParams.get("variant"))
      const variantSelected = product.variants.find(variant => variant.id === variantId)
      const variantPrice = variantSelected.price + ''

      contentPopup.find('img').attr('src', variantSelected.featured_image ? variantSelected.featured_image.src : product.featured_image)
      contentPopup.find('.price').text('US$' + variantPrice.replace(/^(\d{1,})(\d{2})$/, '$1.$2'))
      contentPopup.find('.product-information').html(`<p>Size: ${variantSelected.option1}</p><p>Color: ${variantSelected.option2}</p>`)
      modalPopup.attr('open', true)
    })

    $('#PopupModal-back-in-stock button').on('click', function () {
      const email = modalPopup.find('input').val()
      let url_string = window.location.href
      let url = new URL(url_string)
      let variantId = parseInt(url.searchParams.get("variant"))

      BIS.create(email, variantId, product.id)
        .then(function (res) {
          if ("OK" == res.status) {
            response.html(res.message)
            response.addClass('success')
            response.removeClass('error')
          } else {
            response.html(res.errors.email.reduce((a, element) => a + element + '<br>'), '')
            response.addClass('error')
            response.removeClass('success')
          }
        })
    })
  })()
</script>
