<div style="background-color: {{ section.settings.bg_color }}">
  <div class="carousel-collections collection">
    <ul class="carousel grid--2-col grid--3-col-tablet grid--5-col-desktop" 
      role="region"
      aria-label="Carousel"
      aria-live="polite"
      data-flickity='{ "adaptiveHeight": 1, "contain": 1, "groupCells": 1, "cellAlign": "left", "contain": true, "wrapAround": true, {% if section.settings.autoplay %}"autoPlay": {{ section.settings.autoplaySpeed }}, {% endif %}"pauseAutoPlayOnHover": true, "prevNextButtons": {{ section.settings.arrows }}, "pageDots": {{ section.settings.dots }} }'>
      {% for block in section.blocks %}
      <li class="grid__item">
        {%- assign collection = collections[block.settings.collection] -%}
        <div class="carousel-item">
          <a href="#{{collection.id}}">
            <picture>
              <source srcset="{{ block.settings.carousel-image-desk | img_url: 'master'}}" alt="{{ block.settings.carousel-image-textAlt }}" media="(min-width: 1024px)">
              <source srcset="{{ block.settings.carousel-image-mob | img_url: 'master'}}" alt="{{ block.settings.carousel-image-textAlt }}"/>
              <img src="{{ block.settings.carousel-image-desk | img_url: 'master'}}" alt="{{ block.settings.carousel-image-textAlt }}"/>
            </picture>
            <p class="collection-title">{{ collection.title }}</p>
          </a>
        </div>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="collections-container">
    {% for block in section.blocks %}
      {%- assign collection = collections[block.settings.collection] -%}
      <div class="collection-content" id="{{collection.id}}">
        <div class="collection-banner">
          <a href="{{ collection.url }}">
            <picture>
              <source srcset="{{ block.settings.collection-banner-desk | img_url: 'master'}}" alt="{{ block.settings.collection-banner-textAlt }}" media="(min-width: 1024px)">
              <source srcset="{{ block.settings.collection-banner-mob | img_url: 'master'}}" alt="{{ block.settings.collection-banner-textAlt }}"/>
              <img src="{{ block.settings.collection-banner-desk | img_url: 'master'}}" alt="{{ block.settings.collection-banner-textAlt }}"/>
            </picture>
          </a>
        </div>
        <div class="collection-info">
          <h3 class="collection-title">{{ collection.title }}</h3>
          {{ block.settings.collection-description }}
        </div>
        {% if collection.products_count > 0 %}
          <div class="collection-shelf">
            <div class="PLPProducts">
              <ul class="grid product-grid grid--2-col grid--3-col-tablet grid--4-col-desktop">
                {% for product in collection.products %}
                  {% if forloop.index <= 8 %}
                    {%- assign product = all_products[product] -%}
                    <li class="grid__item">
                      {% render 'product-card',
                        product_card_product: product,
                        media_size: 'adapt',
                        show_secondary_image: true, %}
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="box-cta">
            <a class="btn-see-collection" href='{{collection.url}}'>
              {{ block.settings.collection-cta-text }}
            </a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<style>
.carousel-collections {
  margin-bottom: 50px;
  margin-top: 70px;
  padding: 0 30px;
}

.carousel-collections .carousel-item .collection-title {
  font-family: 'Swiss721BT-RomanCondensed';
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 14px;
  margin-top: 20px;
  font-weight: 600;
  color: #000;
}

.carousel-collections a,
.collections-container a {
  text-decoration: none;
}

.collection-banner img,
.carousel-collections img {
  max-width: 100%;
}

.slideshow-carousel .grid__item,
.carousel .grid__item {
  padding-left: 1rem;
  padding-right: 1rem;
}

.carousel-collections .slick-prev,
.carousel-collections .slick-next,
.carousel-collections .slick-prev:hover,
.carousel-collections .slick-next:hover {
  z-index: 9;
  background-image: url("data:image/svg+xml, %0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512.002 512.002'%3E%3Cpath d='M388.425 241.951L151.609 5.79c-7.759-7.733-20.321-7.72-28.067.04-7.74 7.759-7.72 20.328.04 28.067l222.72 222.105-222.728 222.104c-7.759 7.74-7.779 20.301-.04 28.061a19.8 19.8 0 0014.057 5.835 19.79 19.79 0 0014.017-5.795l236.817-236.155c3.737-3.718 5.834-8.778 5.834-14.05s-2.103-10.326-5.834-14.051z'/%3E%3C/svg%3E") !important;
  background-size: 15px !important;
  background-repeat: no-repeat !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  color: black !important;
  background-position: center !important;
  width: 25px;
  height: 30px;
  outline: none !important;
  top: calc(50% - 15px)
}

.carousel-collections .slick-prev:before,
.carousel-collections .slick-next:before {
  display: none !important;
}

.carousel-collections .slick-prev {
  transform: rotate(180deg) translateY(15px);
  left: 40px !important;
}

.carousel-collections .slick-next {
  right: 40px !important;
}

.collection-content {
  margin-bottom: 80px;
}

.collection-content .collection-info {
  width: 65%;
  text-align: center;
  margin: 50px auto 60px;
}

.collection-content .collection-info h3 {
  letter-spacing: 7px;
  margin-bottom: 25px;
  font-size: 30px;
}

.collection-content .collection-info p {
  font-size: 18px;
  letter-spacing: 2px;
  display: block;
  font-family: 'Swiss721BT-RomanCondensed';
}

.collection-content .collection-shelf {
  border-top: 3px solid #e6e6e6;
  width: calc(100% - 60px);
  margin: 0 auto;
}

.collection-content .box-cta {
  margin-top: 60px;
  text-align: center;
}

.collection-content .box-cta .btn-see-collection {
  background: black;
  color: white;
  padding: 10px 35px;
  font-size: 13px;
  font-family: 'Swiss721BT-BoldCondensed'
}

@media(max-width:1024px) {
  .collection-shelf .PLPProducts .PLPProduct:nth-child(7),
  .collection-shelf .PLPProducts .PLPProduct:nth-child(8) {
    display: none;
  }
}

@media(max-width:767px) {
  .carousel-collections {
    padding: 0 15px;
  }

  .carousel-collections .slick-prev,
  .carousel-collections .slick-next {
    background-color: white !important;
    border-radius: 100%;
    width: 30px;
  }

  .carousel-collections .slick-prev {
    left: 25px !important;
  }

  .carousel-collections .slick-next {
    right: 25px !important;
  }

  .collection-content .collection-info h3 {
    font-size: 23px;
    margin-right: 15px
  }

  .collection-content .collection-info p {
    font-size: 16px;
  }
}

@media(max-width: 500px) {
  .carousel-collections .carousel-item .collection-title {
    letter-spacing: 1px !important;
    font-size: 12px !important;
    margin-top: 10px !important;
    line-height: 14px !important;
  }
}
</style>

<script>
  $(".carousel-item a[href^='#']").on('click', function(e) {
    e.preventDefault();
    var id = $(this).attr('href').replace('/', ''),
      targetOffset = $(id).offset().top;
            
    $('html, body').animate({ 
      scrollTop: targetOffset
    }, 500);
  });
</script>

{% schema %}
{
  "name": "Gift Guide",
  "settings": [
    {
      "type": "header",
      "content": "Slide options"
    },
    {
      "id": "bg_color",
      "type": "color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "id": "dots",
      "type": "select",
      "label": "Dots",
      "default": "false",
      "options": [
        { "value": "true", "label": "On"},
        { "value": "false", "label": "Off"}
      ]
    },
    {
      "id": "arrows",
      "type": "select",
      "label": "Arrows",
      "default": "false",
      "options": [
        { "value": "true", "label": "On"},
        { "value": "false", "label": "Off"}
      ]
    },
    {
      "id": "autoplay",
      "type": "checkbox",
      "label": "Autoplay",
      "default": false
    },
    {
      "id": "autoplaySpeed",
      "type": "text",
      "label": "Autoplay Speed",
      "default": "6000"
    }
  ],
  "max_blocks": 8,
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        },
        {  
          "type":"header",
          "content":"Carousel banner"
        },
        {
          "label": "Carousel Image Desktop",
          "id": "carousel-image-desk",
          "type": "image_picker"
        },
        {
          "label": "Carousel Image Mobile",
          "id": "carousel-image-mob",
          "type": "image_picker"
        },
        {
          "label": "Carousel Image Text Alt",
          "id": "carousel-image-textAlt",
          "type": "text"
        },
        {  
          "type":"header",
          "content":"Collection Content"
        },
        {
          "label": "Collection Banner Desktop",
          "id": "collection-banner-desk",
          "type": "image_picker"
        },
        {
          "label": "Collection Banner Mobile",
          "id": "collection-banner-mob",
          "type": "image_picker"
        },
        {
          "label": "Collection Banner textAlt",
          "id": "collection-banner-textAlt",
          "type": "text"
        },                
        {
          "label": "Collection Description",
          "id": "collection-description",
          "type": "richtext"
        },
        {
          "label": "Collection CTA text",
          "id": "collection-cta-text",
          "type": "text",
          "default": "SHOP COZY"
        }
      ]
    }
  ]
}
{% endschema %}