<link rel="stylesheet" href="{{ 'component-card.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-product-grid.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-product-recommendations.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-card.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-price.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-product-recommendations.css' | asset_url | stylesheet_tag }}</noscript>

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{% assign logic = section.settings.logic %}

{% if logic == 'AUTO' %}
  {% if template == 'index' %}
    {% assign logic = "HOME_1" %}
  {% elsif template == 'product' %}
    {% assign logic = "RELATED" %}
  {% elsif template == 'collection' %}
    {% assign logic = "CATEGORY" %}
  {% elsif template == 'cart' %}
    {% assign logic = "CART" %}
  {% elsif template == 'page' %}
    {% assign logic = "POPULAR" %}
  {% else %}
    {% assign logic = "RELATED" %}
  {% endif %}
{% endif %}

<div id="related-recs-{{ section.id }}" class="scarab-recs"></div>

<script type="text/html" id="related-template-{{ section.id }}">
  <product-recommendations class="product-recommendations page-width">
    <h2 class="product-recommendations__heading">{{ section.settings.title }}</h2>
  {% raw %}
    <![CDATA[
      <ul class="scarab-itemlist grid grid--2-col product-grid grid--{{= SC.page.products.length }}-col-desktop grid--quarter-max grid--4-col-tablet" role="list" style="position: relative;">
        <button class="scarab-prev flickity-button flickity-prev-next-button previous" type="button" aria-label="Previous"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow"></path></svg></button>
        <button class="scarab-next flickity-button flickity-prev-next-button next" type="button" aria-label="Next"><svg class="flickity-button-icon" viewBox="0 0 100 100"><path d="M 10,50 L 60,100 L 70,90 L 30,50  L 70,10 L 60,0 Z" class="arrow" transform="translate(100, 100) rotate(180) "></path></svg></button>
        {{ for (var i=0; i < SC.page.products.length; i++) { }}
          {{ var p = SC.page.products[i]; }}
          {{ if(!p.title.includes('Route Package Protection')) { }}     
            <li class="scarab-item grid__item" data-scarabitem="{{= p.id }}">
              <div class="card-wrapper">
                <div class="card card--product" tabindex="-1">
                  <div class="card__inner">
                    <a href="{{= p.link }}" class="" aria-hidden="true">
                      <div class="media media--transparent media--adapt media--hover-effect" style="padding-bottom: 100.0%;">                        
                        <img
                          src="{{= p.image }}"
                         
                          class="motion-reduce"
                          width="1825"
                          height="1825"
                          alt="{{= p.title }}"
                        >                        
                      </div>
                    </a>
                      <div class="card__badge"></div>
                  </div>
                </div>
                <div class="card-information">
                  <div class="card-information__wrapper">
                    <a href="{{= p.link }}" class="full-unstyled-link" aria-hidden="true" tabindex="0">
                      <span class="card-information__text h5">
                        {{= p.title }}
                      </span>
                    </a>
                    <div class="price">
                      <span class="price__value">
                        ${{= p.price }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {{ } else { }}
            {{ i--; }}
          {{ } }} 
        {{ } }}
      </ul>
    </product-recommendations>
    ]]>
  {% endraw %}
</script>

<script>
  const relatedRecsElmId = 'related-recs-{{ section.id }}';
  const relatedTemplateElmId = 'related-template-{{ section.id }}';

  var screenWidth = window.innerWidth;
  var numCardsToShow;

  if (screenWidth >= 1024) numCardsToShow = 4;
  else if (screenWidth >= 768) numCardsToShow = 3;
  else numCardsToShow = 2;

  setTimeout(function() {
    ScarabQueue.push(['recommend', {
        logic: '{{ logic }}',
        containerId: relatedRecsElmId,
        templateId: relatedTemplateElmId,
        limit: `${numCardsToShow}`,
        success: function(SC, render) {
          if (SC.page.products.length == 0) {
            document.querySelector(`#${relatedRecsElmId}`).remove();
            return;
          }
          for (var i = 0, l = SC.page.products.length; i < l; i++) {
            var product = SC.page.products[i];
            product.discount = ((1 - product.price / product.msrp) * 100).toFixed(0) + '%';
          }
          render(SC);
        },
        error: function() {
          document.querySelector(`#${relatedRecsElmId}`).remove();
        }
    }]);
    //ScarabQueue.push(['go']);
  }, 100);
</script>

{% schema %}
{
  "name": "t:sections.scarab_recommendations.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.scarab_recommendations.settings.paragraph.content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.scarab_recommendations.settings.title.label",
      "default": "Product Recommendations"
    },
    {
      "type": "select",
      "id": "logic",
      "label": "t:sections.scarab_recommendations.settings.logic.label",
      "default": "AUTO",
      "options": [
        {
          "value": "AUTO",
          "label": "t:sections.scarab_recommendations.settings.logic.auto.label"
        },
        {
          "value": "RELATED",
          "label": "t:sections.scarab_recommendations.settings.logic.related.label"
        },
        {
          "value": "CART",
          "label": "t:sections.scarab_recommendations.settings.logic.cart.label"
        },
        {
          "value": "CATEGORY",
          "label": "t:sections.scarab_recommendations.settings.logic.category.label"
        },
        {
          "value": "SEARCH",
          "label": "t:sections.scarab_recommendations.settings.logic.search.label"
        },
        {
          "value": "PERSONAL",
          "label": "t:sections.scarab_recommendations.settings.logic.personal.label"
        },
        {
          "value": "POPULAR",
          "label": "t:sections.scarab_recommendations.settings.logic.popular.label"
        },
        {
          "value": "ALSO_BOUGHT",
          "label": "t:sections.scarab_recommendations.settings.logic.also_bought.label"
        },
        {
          "value": "HOME",
          "label": "t:sections.scarab_recommendations.settings.logic.home.label"
        },
        {
          "value": "DEPARTMENT",
          "label": "t:sections.scarab_recommendations.settings.logic.department.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.scarab_recommendations.name"
    }
  ]
}
{% endschema %}
