{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

<div class="contact page-width spaced-section">
  <h2 class="title">{{ section.settings.heading | escape }}</h2>
  <p>{{ section.settings.subheading }}</p>
  <form action="https://api.kustomerapp.com/v1/hooks/form/618a9715aed44af7cc415532/4657903c3946a6a9ffac7bfdecc95509604784df6f8e08957a9ad371400c48dd" id="contactForm" method="POST">
    <div class="field">
      <input class="field__input" autocomplete="name" type="text" id="Name" name="name" value="{% if customer %}{{ customer.name }}{% endif %}" aria-required="true" placeholder="{{ 'templates.contact.form.name' | t }}" aria-describedby="Name-error">
      <label class="field__label" for="Name">{{ 'templates.contact.form.name' | t }}
        <span aria-hidden="true">*</span>
      </label>
    </div>
    <div class="contact__fields">
      <div class="field">
        <input autocomplete="email" type="email" id="Email" class="field__input" name="email" value="{% if customer %}{{ customer.email }}{% endif %}" aria-required="true" placeholder="{{ 'templates.contact.form.email' | t }}" aria-describedby="Email-error">
        <label class="field__label" for="Email">{{ 'templates.contact.form.email' | t }}
          <span aria-hidden="true">*</span>
        </label>
      </div>
      <div class="field">
        <span id="error-msg"></span>
        <input type="tel" id="Phone" class="field__input__phone" autocomplete="tel" name="phone" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" aria-describedby="error-msg">
        <label class="field__label field__label__phone" for="Phone">{{ 'templates.contact.form.phone' | t }}</label>
      </div>
    </div>

    <div class="contact__fields">
      <div class="field">
        <select class="field__input" id="subject" name="subject" aria-describedby="subject-error" required>
          <option value="">{{ 'templates.contact.form.subject.select' | t }}</option>
          <option value="{{ 'templates.contact.form.subject.product_information' | t }}">{{ 'templates.contact.form.subject.product_information' | t }}</option>
          <option value="{{ 'templates.contact.form.subject.order_status' | t }}">{{ 'templates.contact.form.subject.order_status' | t }}</option>
          <option value="{{ 'templates.contact.form.subject.shipping_delivery' | t }}">{{ 'templates.contact.form.subject.shipping_delivery' | t }}</option>
          <option value="{{ 'templates.contact.form.subject.returns' | t }}">{{ 'templates.contact.form.subject.returns' | t }}</option>
          <option value="{{ 'templates.contact.form.subject.others' | t }}">{{ 'templates.contact.form.subject.others' | t }}</option>
        </select>
        <label class="field__label" for="subject">{{ 'templates.contact.form.subject.label' | t }}
          <span aria-hidden="true">*</span>
        </label>
      </div>
      <div class="field">
        <input type="tel" id="order" class="field__input" autocomplete="tel" name="order" placeholder="{{ 'templates.contact.form.order_number' | t }}" aria-describedby="order-error">
        <label class="field__label" for="order">{{ 'templates.contact.form.order_number' | t }}</label>
      </div>
    </div>

    <div class="field">
      <textarea rows="10" id="message" class="text-area field__input" name="message" placeholder="{{ 'templates.contact.form.comment' | t }}" aria-describedby="message-error">
        {{- form.body -}}
      </textarea>
      <label class="form__label field__label" for="message">{{ 'templates.contact.form.comment' | t }}
        <span aria-hidden="true">*</span>
      </label>
    </div>
    <div class="contact__button">
      <button class="button" type="submit">
        {{ 'templates.contact.form.send' | t }}
      </button>
      <div class="contact__spinner"></div>
    </div>
    <div class="contact-success-btn hidden">
      {{ 'templates.contact.form.button_success' | t }}
    </div>

    <div class="form-success form__message hidden" tabindex="-1">
      {% render 'icon-success' %}
      {{ 'templates.contact.form.post_success' | t }}
    </div>
    <div class="form-error form__message hidden">
      {% render 'icon-error' %}
      {{ 'templates.contact.form.post_error' | t }}
    </div>
  </form>
</div>

<link rel="stylesheet" href="{{ 'intlTelInput.css' | asset_url }}">

<style>
  div.iti__flag {background-image: url("{{ 'flags.png' | asset_url }}"); display: block;}

  .field .iti {width: 100%;}

  .field__input__phone {
    padding-left: 73px;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: rgb(var(--color-foreground));
    font-size: 1.4rem;
    width: 100%;
    box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground),.55);
    height: 4.5rem;
    box-sizing: border-box;
    transition: box-shadow var(--duration-short) ease;
    padding-left: 70px !important;
    padding-top: 15px;
  }

  .field__label__phone {
    font-size: 1rem;
    top: 0.3em;
    letter-spacing: .04rem;
    left: 70px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("{{ 'flags@2x.png' | asset_url }}");}
  }
</style>

<script src="{{ 'intlTelInput.js' | asset_url }}"></script>

<script>
  // Contact sent validation
  if (sessionStorage.getItem("contact_sent") === 'true') {
    $('.contact__button').hide();
    $('.contact-success-btn').removeClass('hidden');
    $('.form-success').removeClass('hidden');
  }
  
  // Phone validation
  const inputPhone = document.querySelector("#Phone");
  var errorMsg = document.querySelector("#error-msg");
  var errorMap = ["Invalid number", "Invalid country code", "Number too short", "Number too long", "Invalid number"];

  const iti = intlTelInput(inputPhone, {
    utilsScript: "{{ 'intlTelUtils.js' | asset_url }}",
    separateDialCode: true
  });

  const reset = function() {
    errorMsg.innerHTML = "";
    errorMsg.classList.remove("error");
    errorMsg.classList.add("hide");
  };

  inputPhone.addEventListener('blur', function() {
    reset();
    if (inputPhone.value.trim()) {
      if (!iti.isValidNumber()) {
        var errorCode = iti.getValidationError();
        errorMsg.innerHTML = errorMap[errorCode];
        errorMsg.classList.add("error");
        errorMsg.classList.remove("hide");
      }
    }
  });

  inputPhone.addEventListener('change', reset);
  inputPhone.addEventListener('keyup', reset);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

<script>
var validator = $("#contactForm").validate({
	rules: {
		name: {
			required: true,
      maxlength: 60,
    },
		email: {
      required: true,
    },
    subject: {
      required: true,
    },
    message: {
      required: true,
    }
  },
  messages: {
    name: {
      required: "{{ 'templates.contact.form.error_messages.name.required' | t }}",
      maxlength: "{{ 'templates.contact.form.error_messages.name.maxlength' | t }}"
    },
    subject: "{{ 'templates.contact.form.error_messages.subject' | t }}",
    message:  "{{ 'templates.contact.form.error_messages.message' | t }}",
    email: {
      required: "{{ 'templates.contact.form.error_messages.email.required' | t }}",
      email: "{{ 'templates.contact.form.error_messages.email.invalid' | t }}"
    }
  },
  success: function(label) {
    label.remove();
  },
  highlight: function(element, errorClass) {
    $(element).parent().find("." + errorClass).removeClass("checked");
  },
  errorPlacement: function(error, e) {
    error.insertBefore(e);
  }
});

$("#contactForm").submit(function(e) {
  e.preventDefault();
  var form = $(this);
  var url = form.attr('action');
  
  if (form.find('.field .error').length > 0) return;

  const formData = form.serializeArray().reduce((a, field) => {
    a[field.name] = field.value
    return a
  }, {})

  let phoneNumber = iti.getNumber();
 
  formData.phone = phoneNumber;
  formData.size = '' + formData.message.length

  $.ajax({
    type: "POST",
    url: url,
    crossDomain: true,
    data: formData,
    beforeSend: function () {
      form.find('.contact__button button').hide();
      form.find('.contact__spinner').show();
    },
    success: function(data)
    {
      form.find('.form-success').removeClass('hidden');
      form.find('.contact-success-btn').removeClass('hidden');
      form.find('.contact__button button').hide();
      form.find('.contact__spinner').hide();
      sessionStorage.setItem("contact_sent", 'true');
    },
    error: function (error) {
      if (error.status === 200) {
        form.find('.form-success').removeClass('hidden');
      } else {
        form.find('.form-error').removeClass('hidden');
      }
      form.find('.contact__button button').show();
      form.find('.contact__spinner').hide();
    }
  });
});
</script>

{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    }, 
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading"
    }
  ]
}
{% endschema %}
