{% comment %}
  parameters:
    - link_1
    - image_1
    - link_2
    - image_2
    - link_3
    - image_3
    - enable_border
{% endcomment %}

{{ 'roundels-nav.css' | asset_url | stylesheet_tag }}

<ul class="roundels__wrapper list-unstyled">
  <li class="roundel__item">
    {% if link != empty %}
      <a href="{{ link_1 }}" class="link full-unstyled-link">
    {% endif %}
    <img
      srcset="{%- if image_1.width >= 165 -%}{{ image_1 | img_url: '165x' }} 165w,{%- endif -%}
        {%- if image_1.width >= 275 -%}{{ image_1 | img_url: '275x' }} 275w,{%- endif -%}
        {%- if image_1.width >= 375 -%}{{ image_1 | img_url: '375x' }} 375w,{%- endif -%}
        {%- if image_1.width >= 475 -%}{{ image_1 | img_url: '475x' }} 475w,{%- endif -%}
        {%- if image_1.width >= 540 -%}{{ image_1 | img_url: '540x' }} 540w,{%- endif -%}
        {%- if image_1.width >= 710 -%}{{ image_1 | img_url: '710x' }} 710w,{%- endif -%}
        {%- if image_1.width >= 1420 -%}{{ image_1 | img_url: '1420x' }} 1420w,{%- endif -%}"
      src="{{ image_1 | img_url: 'master' }}"
      sizes="(min-width: 990px) {% if qnty <= 2 %}710px{% else %}550px{% endif %},
        (min-width: 750px) {% if qnty == 1 %}710px{% else %}550px{% endif %},
        calc(100vw - 30px)"
      alt="{{ image_1.alt }}"
      height="{{ image_1.height }}"
      width="{{ image_1.width }}"
     
      {% unless enable_border %}
        style="border: 0;"
      {% endunless %}
    >
    <span>{{ title_1 | escape }}</span>
    {% if link_1 != empty %}
      </a>
    {% endif %}
  </li>
  <li class="roundel__item">
    {% if link != empty %}
      <a href="{{ link_2 }}" class="link full-unstyled-link">
    {% endif %}
    <img
      srcset="{%- if image_2.width >= 165 -%}{{ image_2 | img_url: '165x' }} 165w,{%- endif -%}
        {%- if image_2.width >= 275 -%}{{ image_2 | img_url: '275x' }} 275w,{%- endif -%}
        {%- if image_2.width >= 375 -%}{{ image_2 | img_url: '375x' }} 375w,{%- endif -%}
        {%- if image_2.width >= 475 -%}{{ image_2 | img_url: '475x' }} 475w,{%- endif -%}
        {%- if image_2.width >= 540 -%}{{ image_2 | img_url: '540x' }} 540w,{%- endif -%}
        {%- if image_2.width >= 710 -%}{{ image_2 | img_url: '710x' }} 710w,{%- endif -%}
        {%- if image_2.width >= 1420 -%}{{ image_2 | img_url: '1420x' }} 1420w,{%- endif -%}"
      src="{{ image_2 | img_url: 'master' }}"
      sizes="(min-width: 990px) {% if qnty <= 2 %}710px{% else %}550px{% endif %},
        (min-width: 750px) {% if qnty == 1 %}710px{% else %}550px{% endif %},
        calc(100vw - 30px)"
      alt="{{ image_2.alt }}"
      height="{{ image_2.height }}"
      width="{{ image_2.width }}"
     
      {% unless enable_border %}
        style="border: 0;"
      {% endunless %}
    >
    <span>{{ title_2 | escape }}</span>
    {% if link_2 != empty %}
      </a>
    {% endif %}
  </li>
  <li class="roundel__item">
    {% if link != empty %}
      <a href="{{ link_3 }}" class="link full-unstyled-link">
    {% endif %}
    <img
      srcset="{%- if image_3.width >= 165 -%}{{ image_3 | img_url: '165x' }} 165w,{%- endif -%}
        {%- if image_3.width >= 275 -%}{{ image_3 | img_url: '275x' }} 275w,{%- endif -%}
        {%- if image_3.width >= 375 -%}{{ image_3 | img_url: '375x' }} 375w,{%- endif -%}
        {%- if image_3.width >= 475 -%}{{ image_3 | img_url: '475x' }} 475w,{%- endif -%}
        {%- if image_3.width >= 540 -%}{{ image_3 | img_url: '540x' }} 540w,{%- endif -%}
        {%- if image_3.width >= 710 -%}{{ image_3 | img_url: '710x' }} 710w,{%- endif -%}
        {%- if image_3.width >= 1420 -%}{{ image_3 | img_url: '1420x' }} 1420w,{%- endif -%}"
      src="{{ image_3 | img_url: 'master' }}"
      sizes="(min-width: 990px) {% if qnty <= 2 %}710px{% else %}550px{% endif %},
        (min-width: 750px) {% if qnty == 1 %}710px{% else %}550px{% endif %},
        calc(100vw - 30px)"
      alt="{{ image_3.alt }}"
      height="{{ image_3.height }}"
      width="{{ image_3.width }}"
     
      {% unless enable_border %}
        style="border: 0;"
      {% endunless %}
    >
    <span>{{ title_3 | escape }}</span>
    {% if link_3 != empty %}
      </a>
    {% endif %}
  </li>
</ul>
