{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif
-%}
<div class="collection section-{{ section.id }}-padding {% if section.settings.full_width == false %}page-width{% if section.settings.slider == true and section.settings.collection.all_products_count > 2 and section.settings.products_to_show > 2 %} page-width-desktop{% endif %}{% endif %}">
  <div class="title-wrapper-with-link{% if section.settings.title == blank %} title-wrapper-with-link--no-heading{% endif %}{% if section.settings.collection.all_products_count > 2 and section.settings.slider and section.settings.products_to_show > 2 %} title-wrapper--self-padded-tablet-down{% endif %}">
    <h2 class="title{% if section.settings.title == blank %} title--no-heading{% endif %}">{{ section.settings.title | escape }}</h2>
    {% if section.settings.subtitle != blank %}
      <h3 class="subtitle">{{ section.settings.subtitle | escape }}</h3>
    {% endif %}
  </div>

  <div class="slider-mobile-gutter">
    <div class="grid--2-col product-grid {% if section.settings.slider == false %} grid {% else %} carousel{% endif %} {% if products_to_display > 3 or section.settings.collection == blank %} grid--3-col-tablet grid--4-col-desktop{% else %} grid--3-col-tablet{% endif %}{% if section.settings.show_view_all == false or section.settings.collection.products.size < section.settings.products_to_show %} grid--peek negative-margin{% endif %}{% if section.settings.show_view_all and section.settings.collection.products.size > section.settings.products_to_show %} negative-margin--small{% endif %}" {% if section.settings.collection.all_products_count > 2 and section.settings.slider and section.settings.products_to_show > 2 %} data-flickity='{ "adaptiveHeight": 0, "contain": 1, "groupCells": 1, "cellAlign": "left", "contain": true, "wrapAround": {{section.settings.loop}}, "autoPlay": {% if section.settings.autoplay %}{{ section.settings.au_time | times: 1000 }}{% else %}0{% endif %}, "pauseAutoPlayOnHover": {{section.settings.au_hover}}, "prevNextButtons": {{section.settings.button}}, "pageDots": {{section.settings.dot}} }'{% endif %} role="region" aria-label="Carousel" aria-live="polite">
      {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
        <div class="grid__item">
          {% render 'product-card',
            product_card_product: product,
            media_size: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            add_image_padding: section.settings.add_image_padding,
            show_vendor: section.settings.show_vendor,
            show_image_outline: section.settings.show_image_outline,
            show_rating: section.settings.show_rating,
            show_coupon_discount: section.settings.show_coupon_discount
          %}
        </div>
      {%- else -%}
        {%- for i in (1..4) -%}
          <li class="grid__item">
            {% render 'product-card-placeholder' %}
          </li>
        {%- endfor -%}
      {%- endfor -%}
    </div>
  </div>

  {%- if section.settings.show_view_all and more_in_collection -%}
    <div class="center">
      <a href="{{ section.settings.collection.url }}"
        class="button"
        aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title }}"
      >
        {{ 'sections.featured_collection.view_all' | t }}
      </a>
    </div>
  {%- endif -%}
  
  <script id="CollectionProducts" type="application/json" data-collection="{{ section.settings.collection.title }}">
  [
    {% for product in section.settings.collection.products limit: section.settings.products_to_show %}
      {{ product | json }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
  </script>
</div>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Subtitle Featured collection",
      "label": "t:sections.featured-collection.settings.subtitle.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 2,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "checkbox",
      "id": "show_coupon_discount",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_coupon_discount.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "Show section full width"
    },
    {
      "type": "header",
      "content": "== Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "slider",
      "default": false,
      "label": "t:sections.featured-collection.settings.slider.label"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Use Loop?",
      "info": "At the end of cells, wrap-around to the other end for infinite scrolling.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Use Autoplay?",
      "info": "Automatically advances to the next cell.",
      "default": false
    },
    {
      "type": "range",
      "id": "au_time",
      "min": 1,
      "max": 30,
      "step": 0.5,
      "label": "Autoplay Speed in second.",
      "unit": "sec",
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "au_hover",
      "label": "Pause Autoplay On Hover?",
      "info": "Auto-playing will pause when the user hovers over the carousel.",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "button",
      "label": "Enable Prev Next Button?",
      "info": "Creates and enables previous & next buttons.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dot",
      "label": "Enable Page Dot?",
      "info": "Creates and enables page dots.",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.featured-collection.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}
