<section id="{{ section.id }}" class="sp-tabs page-width">
  {%- if section.settings.tabs_layout == "default" -%}
    <div class="tabs-content">
      <ul class="ul_tabs">
        {%- for block in section.blocks %}{% assign bk_setts = block.settings -%}
          <li class="tab_title_block{% if forloop.first %} active{% endif %}"><a href="#tab_{{block.id}}">{{bk_setts.heading}}</a></li>
        {%- endfor -%}
      </ul>
    </div>

    {%- for block in section.blocks %}{% assign bk_setts = block.settings -%}
      <div class="panel entry-content sp-tab {% if forloop.first %} active{% else %} dn{% endif %}" id="tab_{{block.id}}" {{ block.shopify_attributes }}>
        <div class="sp-tab-content">
          {% if bk_setts.page != blank %}
            {{bk_setts.page.content}}
          {% elsif bk_setts.product_desc %}
            {{product.description}}
          {% else %}
            {{bk_setts.content}}
          {% endif %}
        </div>
      </div>
    {%- endfor -%}
  {%- else -%}
    <div>
      {%- for block in section.blocks %}{% assign bk_setts = block.settings -%}
        <button class="product-accordion {% if section.settings.first_open_acc %} {% if forloop.first %} active{% endif %}{% endif %} tab_title_block"><a href="#tab_{{block.id}}">{{bk_setts.heading}}</a></button>
        <div class="accpanel entry-content sp-tab" id="tab_{{block.id}}" {{ block.shopify_attributes }}>
          <div class="sp-tab-content">
            {% if bk_setts.page != blank %}
              {{bk_setts.page.content}}
            {% elsif bk_setts.product_desc %}
              {{product.description}}
            {% else %}
              {{bk_setts.content}}
            {% endif %}

            {% if bk_setts.button_label != blank %}
              <a {% if bk_setts.button_link == blank %} aria-disabled="true"{% else %} href="{{ bk_setts.button_link }}"{% endif %}  class="button button--primary" {{ block.shopify_attributes }}>
                {{ bk_setts.button_label | escape }}
              </a>
            {% endif %}
          </div>
        </div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</section>

<script >
  $(document).ready(function ($) {
  /**
   * Product tabs
   */
  $("#{{ section.id }} .tab_title_block").click(function (e) {
    e.preventDefault();
    var _this = $(this),
      parent = _this.closest(".sp-tabs");

    parent.find(".tab_title_block").removeClass("active");
    _this.closest("li").addClass("active").addClass("active");
    parent.find(".sp-tab.panel").hide().removeClass("active");
    parent.find(_this.attr("href")).show().addClass("active");
  });
  /**
   * Product accordion
   */

  let accordion = document.querySelectorAll("#{{ section.id }} .product-accordion");

  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener("click", function () {
      if (this.classList.contains("active")) {
        this.classList.remove("active");
        let accpanel = this.nextElementSibling;
        accpanel.style.maxHeight = null;
      } else {
        for (let j = 0; j < accordion.length; j++) {
          accordion[j].classList.remove("active");
          if (j != i) {
            accordion[j].nextElementSibling.style.maxHeight = null;
          }
        }
        this.classList.add("active");
        let accpanel = this.nextElementSibling;
        if (accpanel.style.maxHeight) {
          accpanel.style.maxHeight = null;
        } else {
          accpanel.style.maxHeight = accpanel.scrollHeight + "px";
        }
      }
    });
  }
});

</script>
{% schema %}
{
  "name": "Tab Descriptions",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "checkbox",
          "id": "product_desc",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.product_desc.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Follow Us",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.button_link.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "first_open_acc",
      "label": "t:sections.main-product.blocks.collapsible_tab.settings.settings.first_open_acc.label",
      "default": true
    },
    {
      "type": "select",
      "id": "tabs_layout",
      "label": "t:sections.main-product.blocks.collapsible_tab.settings.tabs_layout.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.tabs_layout.option__1"
        },
        {
          "value": "accordion",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.tabs_layout.option__2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tab Descriptions"
    }
  ]
}
{% endschema %}
