{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image_mb.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  #Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }
{%- endstyle -%}

{%- liquid
  assign full_width = '100vw'
  assign sizes = '(min-width: 750px) 50vw, 100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}

<div class="section-{{ section.id }}-padding">
  <div
    id="Banner-{{ section.id }}"
    class="banner banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}"
  >
    {%- if section.settings.image != blank -%}
      <div class="banner__media media{% if section.settings.image == blank and section.settings.image_mb == blank %} placeholder{% endif %}{% if section.settings.image_mb != blank %} small-hide{% endif %}">
        <img
          srcset="{{ section.settings.image | img_url: 'master' }}"
          src="{{ section.settings.image | img_url: 'master' }}"
         
          alt="{{ section.settings.image.alt | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
        >
      </div>
    {%- endif -%}
    {%- if section.settings.image_mb != blank -%}
      <div class="banner__media media {% if section.settings.image != blank %} hidden small-show{% endif %}">
        <img
          srcset="{%- if section.settings.image_mb.width >= 375 -%}{{ section.settings.image_mb | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_mb.width >= 750 -%}{{ section.settings.image_mb | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_mb.width >= 1100 -%}{{ section.settings.image_mb | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_mb.width >= 1500 -%}{{ section.settings.image_mb | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_mb.width >= 1780 -%}{{ section.settings.image_mb | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_mb.width >= 2000 -%}{{ section.settings.image_mb | img_url: '3000x' }} 3000w,{%- endif -%}
            {%- if section.settings.image_mb.width >= 3000 -%}{{ section.settings.image_mb | img_url: '3840x' }} 3840w,{%- endif -%}
            {%- if section.settings.image_mb.width >= 3840 -%}{{ section.settings.image_mb | img_url: '3840x' }} 3840w,{%- endif -%}"
          sizes="{% if section.settings.image != blank and section.settings.stack_images_on_mobile %}(min-width: 750px) 50vw, 100vw{% elsif section.settings.image != blank %}50vw{% else %}100vw{% endif %}"
          src="{{ section.settings.image_mb | img_url: '1500x' }}"
         
          alt="{{ section.settings.image_mb.alt | escape }}"
          width="{{ section.settings.image_mb.width }}"
          height="{{ section.settings.image_mb.width | divided_by: section.settings.image_mb.aspect_ratio }}"
        >
      </div>
    {%- endif -%}
    <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width" >
      <div class="banner__box content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient"
        {% if section.settings.use_custom_margins == true %}
          style="padding-left: {{ section.settings.padding_left_box }}px; padding-top: {{ section.settings.padding_top_box }}px; padding-right: {{ section.settings.padding_right_box }}px; padding-bottom: {{ section.settings.padding_bottom_box }}px;
              margin-left: {{ section.settings.margin_left_box }}px; margin-top: {{ section.settings.margin_top_box }}px; margin-right: {{ section.settings.margin_right_box }}px; margin-bottom: {{ section.settings.margin_bottom_box }}px;"
        {% endif %}
      >
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 style="color: {{ block.settings.heading_color }}; font-size: {{ block.settings.font_size_heading }}px" class="banner__heading inline-richtext {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ block.settings.heading }}</h2>
            {%- when 'text' -%}
              <div class="banner__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                <p style="color: {{ block.settings.text_color }};  font-size: {{ block.settings.font_size_text }}px">{{ block.settings.text }}</p>
              </div>
            {%- when 'buttons' -%}
              <div
                class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label_1 != blank -%}
                  <a
                    {% if block.settings.button_link_1 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_1 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_1 | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a
                    {% if block.settings.button_link_2 == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.button_link_2 }}"
                    {% endif %}
                    class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>

    {% if section.settings.link_banner != blank %}
      <a href="{{section.settings.link_banner}}" class="ga-event banner-link" 
        data-event-label="{% if section.settings.image != blank %}{{ section.settings.ga_image_desktop_id }}{% endif %}" 
        data-event-label-mobile="{% if section.settings.image_mb != blank %}{{ section.settings.ga_image_mobile_id }}{% endif %}"
        data-event-page="{% if section.settings.ga_page_id != blank %}{{ section.settings.ga_page_id }}{% endif %}"
        data-event-collection="{% if section.settings.ga_collection != blank %}{{ section.settings.ga_collection }}{% endif %}"
      ></a>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image-banner.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mb",
      "label": "t:sections.image-banner.settings.image_mb.label"
    },
    {
      "type": "url",
      "id": "link_banner",
      "label": "t:sections.image-banner.settings.button.label",
      "info": "t:sections.image-banner.settings.button.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header__1.label"
    },
    {
      "type": "text",
      "id": "ga_image_desktop_id",
      "label": "t:sections.image-banner.settings.ga_image_desktop_id.label"
    },
    {
      "type": "text",
      "id": "ga_image_mobile_id",
      "label": "t:sections.image-banner.settings.ga_image_mobile_id.label"
    },
    {
      "type": "text",
      "id": "ga_page_id",
      "label": "t:sections.image-banner.settings.ga_page_id.label",
      "default": "Home Banners"
    },
    {
      "type": "text",
      "id": "ga_collection",
      "label": "t:sections.image-banner.settings.ga_collection.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.header__2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "use_custom_margins",
      "default": false,
      "label": "t:sections.image-banner.settings.use_custom_margins.label",
      "info": "t:sections.image-banner.settings.use_custom_margins.info"
    },
    {
      "type": "text",
      "id": "padding_left_box",
      "label": "t:sections.image-banner.settings.padding_left_box.label"
    },
    {
      "type": "text",
      "id": "padding_top_box",
      "label": "t:sections.image-banner.settings.padding_top_box.label"
    },   
    {
      "type": "text",
      "id": "padding_right_box",
      "label": "t:sections.image-banner.settings.padding_right_box.label"
    },   
    {
      "type": "text",
      "id": "padding_bottom_box",
      "label": "t:sections.image-banner.settings.padding_bottom_box.label"
    },    
    {
      "type": "text",
      "id": "margin_left_box",
      "label": "t:sections.image-banner.settings.margin_left_box.label"
    },   
    {
      "type": "text",
      "id": "margin_top_box",
      "label": "t:sections.image-banner.settings.margin_top_box.label"
    },   
    {
      "type": "text",
      "id": "margin_right_box",
      "label": "t:sections.image-banner.settings.margin_right_box.label"
    },   
    {
      "type": "text",
      "id": "margin_bottom_box",
      "label": "t:sections.image-banner.settings.margin_bottom_box.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": false,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-10",
          "label": "t:sections.image-banner.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.image-banner.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-10",
          "label": "t:sections.image-banner.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.image-banner.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.image-banner.settings.color_scheme.label",
      "info": "t:sections.image-banner.settings.color_scheme.info"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": false,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.image-banner.blocks.heading.settings.heading_size.options__3.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_size.label"
        },
        {
          "type": "text",
          "id": "font_size_heading",
          "label": "t:sections.image-banner.blocks.heading.settings.font_size_heading.label"
        },
        {
          "type": "color",
          "id": "heading_color",
          "default": "#000000",
          "label": "t:sections.image-banner.blocks.heading.settings.heading_color.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        },
        {
          "type": "text",
          "id": "font_size_text",
          "label": "t:sections.image-banner.blocks.text.settings.font_size_text.label"
        },
        {
          "type": "color",
          "id": "text_color",
          "default": "#000000",
          "label": "t:sections.image-banner.blocks.text.settings.text_color.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner.presets.name"
    }
  ]
}
{% endschema %}
