{{ 'component-gift-promotion.css' | asset_url | stylesheet_tag }}

<gift-promotion>
  <modal-dialog id="PopupModal-gift" class="gift-popup-modal">
    <div role="dialog" aria-label="Gift" aria-modal="true" class="gift-popup-modal__content {{ settings.gift_popup_width }}" tabindex="-1">
      <button id="ModalClose-gift" type="button" class="gift-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
      <div class="gift-popup-modal__content-wrapper">
        <div class="gift-title center">
          <h2>{{ settings.gift_title }}</h2>
          <p>{{ settings.gift_subtitle }}</p>
        </div>
        <div class="gift-popup-modal__content-info page-width grid grid--2-col grid--3-col-tablet grid--{{ settings.gift_qty_col }}-col-desktop">
        </div>
      </div>
    </div>
  </modal-dialog> 
</gift-promotion>